<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Video Downloader</title>
    <link rel="stylesheet" href="node_modules/keen-ui/dist/keen-ui.min.css">
    <link rel="stylesheet" href="styles/table.css">
    <link rel="stylesheet" href="styles/style.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="cloak-wrapper" v-cloak>
            <div class="input-wrapper">
                <ui-button class="settings-button" has-dropdown ref="settingsButton" title="Settings">
                    <img src="icons/settings.svg" alt="Settings icon">
                    <ui-menu
                        contain-focus slot="dropdown" :options="settingsMenu"
                        @close="$refs.settingsButton.closeDropdown()"
                        @select="onSettingOptionSelect"
                    ></ui-menu>
                </ui-button>

                <input type="text" v-model="input" class="input" placeholder="Enter video link and click Download">
                <ui-button class="download-button" color="primary" @click="download()" :loading="fetchingInfo">Download</ui-button>

                <ui-button class="download-options-button" color="primary" has-dropdown ref="downloadOptionsButton" :disabled="fetchingInfo">
                    <img src="icons/chevron-down.svg" alt="More options icon">
                    <ui-menu
                        contain-focus slot="dropdown" :options="downloadOptionsMenu"
                        @close="$refs.downloadOptionsButton.closeDropdown()"
                        @select="onDownloadOptionSelect"
                    ></ui-menu>
                </ui-button>
            </div>

            <div class="content-wrapper">
                <table class="table table-hover table-responsive downloads">
                    <thead>
                        <tr>
                            <th class="download-index">#</th>
                            <th class="download-filename">Name</th>
                            <th class="download-filesize">Size</th>
                            <th class="download-progress">Progress</th>
                            <th class="download-speed">Speed</th>
                            <th class="download-eta">ETA</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            class="download" v-for="(download, index) in downloads"
                            :key="download.url" :class="{ 'is-cancelled': download.isCancelled }"
                            @contextmenu="onContextMenu(download)"
                        >
                            <td class="download-index">{{ index + 1 }}</td>
                            <td class="download-filename" :title="download.filename">{{ download.filename }}</td>
                            <td class="download-filesize">{{ download.size | prettyBytes }}</td>

                            <td class="download-progress">
                                <ui-progress-linear
                                    type="determinate" :progress="download.progress" :color="download.isCancelled ? 'black': 'primary'"
                                ></ui-progress-linear>

                                <span class="download-progress-value">
                                    <span>{{ download.status }}</span> <span v-show="!download.isCancelled">{{ download.progress | prettyPercentage }}</span>
                                </span>
                            </td>

                            <td class="download-speed">{{ download.speed | prettySpeed }}</td>
                            <td class="download-eta">{{ download.eta | prettyDuration }}</td>
                        </tr>

                        <tr v-if="downloads.length === 0">
                            <td colspan="6" class="download-placeholder">
                                No downloads. Enter a video link in the box above and click <strong>Download</strong> to begin.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="status-bar">
                <div class="status-bar-left">
                    <span>
                        Download folder: <a @click="openDownloadDirectory" title="Click to open">{{ downloadDirectory }}</a>
                        [<a @click="changeDownloadDirectory" title="Click to change download folder">Change</a>]
                    </span>
                </div>

                <div class="status-bar-right">
                    <a @click="clearCompletedDownloads">Clear completed</a>
                </div>
            </div>
        </div>

        <div class="cloak-wrapper message-overlay" v-cloak v-show="messageOverlay.shown">
            <svg class="message-overlay-spinner" role="progressbar" viewBox="25 25 50 50" v-show="messageOverlay.type === 'progress'">
                <circle class="message-overlay-spinner-path" cx="50" cy="50" fill="none" r="20" stroke-miterlimit="10" stroke-width="4"></circle>
            </svg>

            <svg class="message-overlay-error" height="24" viewBox="0 0 24 24" width="24" v-show="messageOverlay.type === 'error'">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
            </svg>

            <div class="message-overlay-text">{{ messageOverlay.message }}</div>
        </div>
    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/keen-ui/dist/keen-ui.js"></script>
    <script src="app.js"></script>
</body>
</html>
