* {
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

html,
body,
#app {
    margin: 0;
    padding 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: default;
    user-select: none;
}

strong {
    font-weight: 500;
}

.ui-menu-option:not(.is-divider) {
    font-size: 14px;
    min-height: 36px;
    cursor: default;
}

.ui-menu-option__content {
    height: 36px;
    padding: 0 16px;
}

.ui-button__dropdown-icon {
    display: none;
}

#app {
    display: flex;
    flex-direction: column;
    /* For absolutely positioned status bar at the bottom */
    padding-bottom: 31px;
}

.input-wrapper {
    border-bottom: 1px solid #DDD;
    padding: 8px;
    display: flex;
    background-color: #EEE;
}

.input {
    display: block;
    border: 1px solid #AAA;
    border-right: 0;
    padding: 8px;
    font-size: 15px;
    height: 36px;
    flex-grow: 1;
}

.settings-button,
.download-button,
.download-options-button {
    cursor: default;
    text-transform: initial;
}

.settings-button {
    border-radius: 2px 0 0 2px!important;
    min-width: 32px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #AAA;
    border-right: 0;
}

.download-button {
    border-radius: 0!important;
}

.download-options-button {
    border-left: 1px solid #0c7cd5;
    border-radius: 0 2px 2px 0!important;
    min-width: 32px;
    padding-left: 8px;
    padding-right: 8px;
}

.content-wrapper {
    flex-grow: 1;
    overflow: auto;
    height: calc(100vh - 83px);
}

.status-bar {
    background-color: #EEE;
    border-top: 1px solid #DDD;
    bottom: 0;
    display: flex;
    font-size: 13px;
    padding: 6px 10px;
    position: absolute;
    width: 100%;
}

.status-bar a {
    text-decoration: none;
    color: #0c7cd5;
    cursor: pointer;
}

.status-bar a:hover {
    text-decoration: underline;
}

.status-bar-right {
    margin-left: auto;
}

.downloads {
    margin: 0;
    font-size: 14px;
}

.download.is-cancelled {
    opacity: 0.7;
}

.download.is-cancelled .download-index,
.download.is-cancelled .download-filename,
.download.is-cancelled .download-filesize {
    text-decoration: line-through;
}

.download.has-error {
    color: red;
}

.download.has-error .download-index {
    color: rgba(255, 0, 0, 0.7);
}

.download.has-error .ui-progress-linear--color-primary {
    background-color: rgba(243, 33, 33, 0.4);
}

.download-index {
    width: 32px;
    min-width: 32px;
    color: rgba(0, 0, 0, 0.75);
}

.download-filename {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 32%;
}

.download-filesize {
    width: 106px;
    min-width: 96px;
}

.download-progress {
    width: 32%;
}

.download-speed {
    width: 106px;
    min-width: 96px;
}

.download-eta {
    width: 106px;
    min-width: 96px;
}

.download-placeholder {
    text-align: center;
}

.message-overlay {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.message-overlay-spinner {
    animation: message-overlay-spinner-rotate 0.6s linear infinite;
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
}

.message-overlay-spinner-path {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
    stroke-linecap: round;
    stroke: rgba(0, 0, 0, 0.54);
}

@keyframes message-overlay-spinner-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.message-overlay-error {
    fill: rgba(0, 0, 0, 0.54);
}
